#friendsContainer {
	width: 100%;
	margin: 0 auto;
}

ol.even {
  position: relative;
  left: 75px;
}
ol.odd {
  position: relative;
  margin-top: -65px;
  margin-bottom: -50px;
}

.hex {
  position: relative;
  margin: 1em auto;
  width: 5em; height: 8.66em;
  border-radius: 0;
  opacity: 1;
  background: #666;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: 65px;
  transition: all 150ms ease-in-out;
 
}
.hex:before, .hex:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: ''; opacity:1;
}
.hex:before {
	-webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hex:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  content: 'asdfsd';
}



/*div:hover > ol > .hex{
  background: red;
  cursor: pointer;
  zoom:0.8;
}*/

/*div:hover > ol.odd {
  
}
div:hover > ol.even {
  left:-57;
}*/



div:hover > ol >.hex:hover{
  background:blue;
  cursor:pointer;
  width: 7em; height: 12.124em;
  margin-right:49px;
  margin-left:-16px;
  margin-top:-20px;
  margin-bottom:-20px;
  z-index:99;
  border-radius: 1em/.6em;
}


/*div:hover> ol> .hex:hover{
  width: 2.5em; height: 4.33em;
  margin-right:105px;
}*/


#one{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdcqeZx1i1FlopPbGWP9vBwzcjsyMeqcB3Q5p4s8ylXp0DIdbWkeKI1XSE');
}

#one:before{
   background-image:url('http://t3.gstatic.com/images?q=tbn:ANd9GcRJPeO_oyIHht_aosWzLSUKlDuENJRbn4o2g2UfLRPtXfNlMpmF-pegtU4y');
}







#two{
  background-image:url('http://t3.gstatic.com/images?q=tbn:ANd9GcRJPeO_oyIHht_aosWzLSUKlDuENJRbn4o2g2UfLRPtXfNlMpmF-pegtU4y');
}

#two:hover{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdcqeZx1i1FlopPbGWP9vBwzcjsyMeqcB3Q5p4s8ylXp0DIdbWkeKI1XSE');
}