<div id="infoCard">
    <div id="pricing-table">
        <div id="pricing-table-header">
            <h1>About</h1>
        </div>
        <div id="pricing-table-content">
            <ul>
                <li><strong>Gender</strong> <div>Female</div></li>
                <li><strong>Birthday</strong><div>Jan, 1992</div></li>
                <li><strong>Hometown</strong><div>Cali</div></li>
                <li><strong>Education</strong><div>UCL, 15'</div></li>
                <li><strong>Relationship</strong><div>Tinder</div></li>
                <li><strong>Contact</strong><div>07500056769</div></li>
            </ul>
        </div>
        <!--<div id="pricing-table-footer">
            <h2><sup>$</sup>19.99</h2>
            <p>per month</p>
            <a href="#">Sign Up</a>
        </div>-->
    </div>
</div>