/*********************************************************************************/
/* Profile Page                                                                  */
/*********************************************************************************/

.userProfile {
	position: relative;
	z-index: 1;
}

#userprofile {
	position: relative;
	float: right;
	z-index: 1;
	width: 33.3%;
	margin-right: 8.25%;
}
	
.profile-img {
  display: block;
  height: 7em;
  margin-right: auto;
  margin-left: auto;
}

.profile-text {
  margin-top: -137px;
  padding: 5.5em 1.5em .5em 1.5em;
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-name {
  margin-right: -1em;
  margin-bottom: 0em;
  margin-left: -1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-title {
  color: #ccc;
}

.register {
	width: 100%;
	z-index: 9999;
}

/*dark background to support form theme
body {
  background: url("http://imd.edumedia.ca/mars0277/code/grey.jpg");
}*/

/*sass variables used*/
/*site container*/

#dayList, #monthList, #birthYearList {
	width: 32%;
	display: inline;
}

#yearList {
  display: block;
  width: 100%;
  height: 35px;
}

.register input[type="text"], .register input[type="email"], .register input[type="password"], .register input[type="date"], select {
  display: block;
  width: 100%;
  height: 35px;
}

.register h4,
.register h5 {
  text-align: center;
  text-transform: uppercase;
}
.register .button {
  background: #0099ff;
}
.register {
  height:calc(100% - 310px);
  height:-moz-calc(100% - 310px);
  height:-webkit-calc(100% - 310px);
  width: 100%;
}

.register input {
	border-radius: 5px;
}

.register input {
  display: block;
  font-size: 14px;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
}

.register input {
  opacity: 0.5;
  background: #000;
}

.register input:hover,
.register input:focus {
  opacity: .7;
  color:#08c;
  border: 1px solid #08c;
   box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
}

.register input[type="text"]:focus,
.register input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}

.register form fieldset {
  /*background: #fff;*/
}
.register form fieldset .toggle {
  height: 40px;
  margin: 0px auto;
  position: relative;
  width: auto;
}
.register form fieldset .toggle.small {
  width: 100px;
}
.register form fieldset .toggle .toggle-input {
  display: none;
}
.register form fieldset .toggle .toggle-input:checked + .toggle-label-left {
  background: #007fff;
}
.register form fieldset .toggle .toggle-input:checked + .toggle-label-right {
  background: #333;
}
.register form fieldset .toggle .toggle-input:checked + .toggle-label {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  color: #fff;
  font-weight: bold;
}
.register form fieldset .toggle .toggle-input:not(:checked) + .toggle-label-on ~ .toggle-selection {
  background: #468C00;
}
.register form fieldset .toggle .toggle-input:checked + .toggle-label-on ~ .toggle-selection {
  left: 50%;
  right: 2px;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.register form fieldset .toggle .toggle-label {
  cursor: pointer;
  float: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 38px;
  position: relative;
  text-align: center;
  z-index: 2;
}
.register form fieldset .toggle .toggle-label.full {
  width: 100%;
}
.register form fieldset .toggle .toggle-label.toggle-label-off {
  padding-left: 2px;
}
.register form fieldset .toggle .toggle-label.toggle-label-on {
  padding-right: 2px;
}
.register form fieldset .toggle .toggle-label.off {
  opacity: .5;
}
.register form fieldset .toggle .toggle-selection {
  background: #007fff;
  border-radius: 3px;
  display: block;
  height: 34px;
  left: 2px;
  position: absolute;
  right: 50%;
  top: 2px;
  transition: left 0.15s;
  width: auto;
  z-index: 1;
}
.register form fieldset .toggle .toggle-selection.full {
  background: #468c00;
  left: 2px;
  right: 2px;
}
.register form fieldset .toggle .publicnotice {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  border-radius: 100px;
  height: 130px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: -45px;
  width: 130px;
}
.register form fieldset .toggle .publicnotice:after {
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 55px;
  width: 0;
}
.register form fieldset .toggle .publicnotice.left {
  left: 0px;
}
.register form fieldset .toggle .publicnotice.left:after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ee8822;
  border-top: 10px solid transparent;
  right: -9px;
}
.register form fieldset .toggle .publicnotice.right {
  right: 0px;
}
.register form fieldset .toggle .publicnotice.right:after {
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ee8822;
  border-top: 10px solid transparent;
  left: -9px;
}
.register form fieldset .toggle .publicnotice.on {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  background: #ee8822;
  opacity: 1;
}
.register form fieldset .toggle .publicnotice.on.left {
  left: -140px;
}
.register form fieldset .toggle .publicnotice.on.right {
  right: -140px;
}
.register form fieldset .toggle .publicnotice h5 {
  color: #fff;
  margin-bottom: 0px;
  margin-top: 8px;
}
.register form fieldset .toggle .publicnotice span {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  line-height: 12px;
  text-align: center;
}

/*********************************************************************************/
/* View Profile Page                                                                  */
/*********************************************************************************/

#viewuserprofile {
	position: relative;
	z-index: 1;
	width: 100%;
}

.friendRequestIcon {
	height: 90%;
	margin-top: .5% !important;
	z-index: 9999;
}


#leftColumn a {
	overflow:hidden; /* comment this property */
	margin: 0px auto;
	height: 50px;
	width: 100%;
	display: block;
	text-align:center;
	background-color:#b78458;
	color:#fff;
	text-decoration:none;
	position:relative;
	font:14px/50px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	box-shadow:rgba(0,0,0,.15) 0 1px 2px;
	transition: all 1s;
	outline:none;
	border-radius: 10px !important;
}
#leftColumn a:hover {
	box-shadow:rgba(0,0,0,.3) 0 8px 25px, rgba(0,0,0,.2)0 1px;
	text-shadow:#fff 0 0 12px;
}
#leftColumna:active {
	box-shadow:rgba(0,0,0,.2) 0 8px 25px;
	transition: all 0s;
}
#leftColumn a span { 
	position:relative;
	z-index:9;
}
#leftColumn a:before, #leftColumn a:after {
	position:absolute;
	top:0;
	left:0;
	z-index:7;
	display:block;
	content:" ";
}
#leftColumn a:after {
	height:100%;
	width:2500px;
	transition: all .8s;
	background: linear-gradient(135deg,  #b78458 0%,#935f39 19%,#aa6740 37%,#ffcece 50%,#ea2803 66%,#ff6600 75%,#c72200 100%);
}
#leftColumn a:before {
	height:26px;
	width:100%;
	top:-50px;
	z-index:10;
	opacity:0;
	background-color:rgba(255,255,255,.15);
	transition: all .5s;
}
#leftColumn a:hover:before {
	top:0;
	opacity:1;
}
#leftColumn a:hover:after {
	left:-1750px;
}
#leftColumn a:active:before {
	height:100%;
	background-color:rgba(255,255,255,.8);
	box-shadow:inset rgba(255,255,255,.5)0 0 25px;
	transition: all 0s;
}

/*User InfoCard*/
#pricing-table {
	-webkit-box-shadow: 0px 0px 3px #26292e;
	box-shadow: 0px 0px 3px #26292e;
	margin: 0;
	width: 100%;
}

#pricing-table #pricing-table-header {
	background: #65707f; /* Old browsers */
	background: -moz-linear-gradient(top,  #65707f 0%, #4a5564 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65707f), color-stop(100%,#4a5564)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #65707f 0%,#4a5564 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #65707f 0%,#4a5564 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #65707f 0%,#4a5564 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #65707f 0%,#4a5564 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65707f', endColorstr='#4a5564',GradientType=0 ); /* IE6-9 */
	background-color: #586272;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	padding: 5px;
	text-align: center;	
}

#pricing-table #pricing-table-header h1 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

#pricing-table #pricing-table-content {
	background-color: #fff;
}

#pricing-table #pricing-table-content ul {
	list-style: none;	
}

#pricing-table #pricing-table-content ul li {
	border-bottom: 1px solid #efeff0;
	font-size: 14px;
	padding: 5px 10px;
}

#pricing-table #pricing-table-content ul li div {
	float: right;
}

#pricing-table #pricing-table-footer {
	background-color: #f5f7f8;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	padding: 16px 0;
}

#pricing-table #pricing-table-footer {
	text-align: center;	
}

#pricing-table #pricing-table-footer p {
	font-size: 12px;
	text-transform: uppercase;	
}

#pricing-table #pricing-table-footer a {
	background: #50b7e4; /* Old browsers */
	background: -moz-linear-gradient(top,  #50b7e4 0%, #3098c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50b7e4), color-stop(100%,#3098c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #50b7e4 0%,#3098c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #50b7e4 0%,#3098c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #50b7e4 0%,#3098c4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #50b7e4 0%,#3098c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50b7e4', endColorstr='#3098c4',GradientType=0 ); /* IE6-9 */
	background-color: #3ea6d2;
	border: 1px solid #1481b0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px;
	text-decoration: none;
}

/* prof pic mask */

.profpic .center {
  margin-top: -65px !important;
  width: 200px;
  margin-left: calc(50% - 100px) !important;
  margin-left: -moz-calc(50% - 50px) !important;
  margin-left: -webkit-calc(50% - 75px) !important;
}

.profpic .hexagon {
  
  width: 150px;
  height: 300px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);  
     -moz-transform: rotate(120deg);  
      -ms-transform: rotate(120deg);  
       -o-transform: rotate(120deg);   
          transform: rotate(120deg);
  cursor: pointer;
}

.profpic .hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);  
     -moz-transform: rotate(-60deg);  
      -ms-transform: rotate(-60deg);  
       -o-transform: rotate(-60deg);   
          transform: rotate(-60deg);
}

.profpic .hexagon-in2 {
  width: 100%;
  height: 100%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);  
     -moz-transform: rotate(-60deg);  
      -ms-transform: rotate(-60deg);  
       -o-transform: rotate(-60deg);   
          transform: rotate(-60deg);
  background: url("http://lorempixel.com/g/250/350/people");
  background-repeat: no-repeat;
  background-position: 50%;
}

.profpic .hexagon-in2:hover {
  /*background: url("http://lorempixel.com/250/350/people");*/
}

.register select {
	background: rgba(33, 33, 33, .2);
}


/*save button */

.register button {
margin-left: calc(50% - 70px) !important;
  margin-left: -moz-calc(50% - 70px) !important;
  margin-left: -webkit-calc(50% - 70px) !important;
  min-width: 140px;
  height: 40px;
  outline: none;
  box-shadow: inset 0px -20px 1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  transition: all 0.1s ease;
  text-transform: uppercase;
}


.red {
  background-color: #f04e3d;
  color: white;
}
.red:hover {
  background-color: #f26455;
}
.red:active {
  background-color: #ee3825;
  box-shadow: none;
}
