@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700);

#inboxContainer *:focus {
    outline: 0;
}

#inboxContainer * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
  
}

#inboxContainer {
  font-family: 'Roboto';
  margin:0px;
  height:100%;
  background-color:#fffff;
  padding:0px;
  color:#C6C6C6;
  font-size:14px;
  overflow:hidden;
  position: relative;
  z-index: 1;
}

#inboxContainer .content {
  width:100%;
  padding:0px;
}
.second-nav {
  height:100vh;
  width:300px;
  background-color:#F5F7FA;
  border-left:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0;
  position:fixed;
  top:0px;
  display: inline;
}
.inboxHeader {
  border-bottom:1px solid #e0e0e0;
  width:100%;
  padding:20px;
  font-size:20px;
}
.controls {
  background-color:#ffffff;
  width:100%;
  display:table;
  height:30px;
  border-bottom:1px solid #e0e0e0;
}
.control {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  position:relative;
  height:30px;
  width:20%;
}
.control:hover {
  color:#4FC1E9;
}
.control:hover > .comment {
  display:block;
}
.control:active {
  background-color:#4FC1E9;
  color:#ffffff;
}
.messages {
  display:table;
  width:100%;
  background-color:#F5F7FA;
}
.message {
  display:table-row;
  height:70px;
  font-size:14px;
}

.message .cell {
  display:table-cell;
  vertical-align:middle;
  padding:0px 5px;
  padding-top:5px;
  width:100%;
  font-size:14px;
  border-bottom:1px solid #e0e0e0;
}
.cell .checkbox {
  width:25px;
  float:left;
  padding-top:15px;
}
.profileImage {
  width:50px;
  float:left;
}
.profileImage img {
  border-radius:5px;
  width:45px;
}
.metadata {
  width:210px;
  padding-left:10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align:left;
  height:50px;
}
.metadata p {
  float:left;
  padding:0px;
  margin:0px;
  width:200px;
  font-size:13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.from {
  font-weight:700;
  color:#808080;
}
.subject {
  color:#808080;
}
.comment {
  width:100px;
  height:40px;
  border-radius:5px;
  background-color:#ffffff;
  padding:10px;
  text-align:center;
  color:#808080;
  font-size:14px;
  position:absolute;
  bottom:-45px;
  left:50%;
  margin-left:-50px;
  border:1px solid #e0e0e0;
  display:none;
  z-index:10;
}
.comment:after {
  content:"";
	width: 0; 
	height: 0; 
  position:absolute;
  top:-5px;
  left:50%;
  margin-left:-5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e0e0e0;
}
.comment .fa-times {
  position:absolute;
  top:3px;
  right:5px;
  cursor:pointer;
}
/*Adding custom checkbox icons*/
label {
	position: relative;
	padding-left: 30px;
	font-size: 14px;
	cursor: pointer;
}
label:before, label:after {
	font-family: FontAwesome;
	font-size: 21px;
	/*absolutely positioned*/
	position: absolute; top: 0; left: 0;
  
}
label:before {
	content: '\f096'; /*unchecked*/
}
label:after {
	content: '\f046'; /*checked*/
	/*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
	max-width: 0;
	overflow: hidden;
	opacity: 0.5;
	/*CSS3 transitions for animated effect*/
	transition: all 0.35s;
  color:#4FC1E9;
}

/*hiding the original checkboxes*/
input[type="checkbox"] {
	display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
input[type="checkbox"]:checked + label:after {
	max-width: 25px; /*an arbitratry number more than the icon's width*/
	opacity: 1; /*for fade in effect*/
}

.viewer {
  margin-left:300px;
}
.viewer .header {
  background-color:#FFFFFF;
  position:relative;
  color:#AAB2BD;
}
.scroll {
  height:80%;
  overflow-y:scroll;
}
.messageInput {
	height: 20%;
}
#email {
  padding:0px;
  padding-left:100px;
  padding-top:0px;
}
#email p {
  color:#656d78;
  font-size:14px;
  margin:0px;
  padding:0px;
}
#email .subject {
  font-weight:700;
}
.viewer .header img {
  width:60px;
  position:absolute;
  top:0px !important;
  left:20px;
}
/*.body {
  padding:20px;
  color:#656d78;
}*/
#inboxContainer h1 {
  font-weight:300;
}
.body img {
  width:100%;
  border-radius:10px;
  max-width:600px;
  cursor:pointer;
  transition:all 1s;
}
.body img:hover {
  box-shadow:0px 0px 10px rgba(0,0,0, 1);
}
.imagedisplay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#434A54;
  display:none;
  padding:20px;
  text-align:center;
  vertical-align:middle;
}
.viewimage {
  width:600px;
}
.viewimage img {
  width:100%;
}

/* CHAT BUBBLES */

.bubble-other, .bubble-me {
  margin: 20px;
  padding: 15px;
  position: relative;
  border: solid 1px #9bc051;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: inset 0 -8px 10px rgba(255, 255, 255, 0.15), inset 0 6px 18px rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: inset 0 -8px 10px rgba(255, 255, 255, 0.15), inset 0 6px 18px rgba(255, 255, 255, 0.65);
  box-shadow: inset 0 -8px 10px rgba(255, 255, 255, 0.15), inset 0 6px 18px rgba(255, 255, 255, 0.65);
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
}

.bubble-other:before, .bubble-me:before, .bubble-other:after, .bubble-me:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -20px;
  right: 5px;
}

.bubble-other:before, .bubble-me:before {
  height: 20px;
  border-right: 24px solid #accb6f;
  background: #9bc051;
  -webkit-border-bottom-left-radius: 60px 40px;
  -moz-border-radius-bottomleft: 60px 40px;
  border-bottom-left-radius: 60px 40px;
  -moz-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  -webkit-transform: translate(0, -8px);
  transform: translate(0, -8px);
}

.bubble-other:after, .bubble-me:after {
  width: 20px;
  height: 20px;
  background: white;
  -webkit-border-bottom-left-radius: 30px 70px;
  -moz-border-radius-bottomleft: 30px 70px;
  border-bottom-left-radius: 30px 70px;
  -moz-transform: translate(10px, -8px);
  -ms-transform: translate(10px, -8px);
  -o-transform: translate(10px, -8px);
  -webkit-transform: translate(10px, -8px);
  transform: translate(10px, -8px);
}

.bubble-other:before, .bubble-other:after {
  right: auto;
  left: 5px;
}

.bubble-other:before {
  border-right: none;
  border-left: 24px solid #e0e5ea;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 60px 40px;
  -webkit-border-bottom-right-radius: 60px 40px;
  border-bottom-right-radius: 60px 40px;
}

.bubble-other:after {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 30px 70px;
  -webkit-border-bottom-right-radius: 30px 70px;
  border-bottom-right-radius: 30px 70px;
  -moz-transform: translate(-10px, -8px);
  -ms-transform: translate(-10px, -8px);
  -o-transform: translate(-10px, -8px);
  -webkit-transform: translate(-10px, -8px);
  transform: translate(-10px, -8px);
}

.bubble-me {
  background-color: #9bc051;
  border-color: #9bc051;
}

.bubble-other {
  background-color: #dde2e8;
  border-color: #dde2e8;
}

.oval-speech {
  position: relative;
  width: 270px;
  padding: 50px 40px;
  margin: 1em auto 50px;
  text-align: center;
  color: #fff;
  background: #5a8f00;
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
  background: -moz-linear-gradient(#b8db29, #5a8f00);
  background: -o-linear-gradient(#b8db29, #5a8f00);
  background: linear-gradient(#b8db29, #5a8f00);
  /*
  NOTES:
  -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius: 220px 120px;
  -webkit-border-top-right-radius: 220px 120px;
  -webkit-border-bottom-right-radius: 220px 120px;
  -webkit-border-bottom-left-radius: 220px 120px;
  -moz-border-radius: 220px / 120px;
  border-radius: 220px / 120px;
}

.oval-speech p {
  font-size: 1.25em;
}

/* creates part of the curve */
.oval-speech:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 50%;
  height: 30px;
  border-right: 60px solid #5a8f00;
  background: #5a8f00;
  /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius: 80px 50px;
  -moz-border-radius-bottomright: 80px 50px;
  border-bottom-right-radius: 80px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform: translate(0, -2px);
  -moz-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

/* creates part of the curved pointy bit */
.oval-speech:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -30px;
  right: 50%;
  width: 60px;
  height: 30px;
  background: #fff;
  /* css3 */
  -webkit-border-bottom-right-radius: 40px 50px;
  -moz-border-radius-bottomright: 40px 50px;
  border-bottom-right-radius: 40px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform: translate(-30px, -2px);
  -moz-transform: translate(-30px, -2px);
  -ms-transform: translate(-30px, -2px);
  -o-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}
