<section class="whatever">
    <h2> Friends Circle</h2>
    <table class="order-table">
        <thead>
            <tr>
                <th> Circle </th>
                <th> Name </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in activities">
                <td> <strong> (( a.circleName ))</strong></td>
                <td> (( a.firstName )) (( a.surname ))</td>
                <td> <a class="friendButton circleLog"> Remove</a> </td>
            </tr>
        </tbody>
    </table>
</section>
