<h2 id="friendsTitle" style="text-align: center; margin-bottom: 10px;">Friends</h2>

<section id="lab">
    <article>
        <div class="lab_item" ng-repeat="friend in friends">
            <div class="hexagon hexagon2" ng-click="goToFriend(friend)">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(http://placekitten.com/200/350);">
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
