<div class="userProfile">
    <div id="userprofile">
        <img src="images/facebook.png" class="profile-img">
            <div class="profile-text">
                <h1 class="profile-name">(( userDetails.firstName )) (( userDetails.surname ))</h1>
                <span class="profile-title">UX / UI Designer</span>
            </div>
        </div>
        <div class="register">
            <div class="wrap">
                <form ng-controller="SettingsCtrl" ng-submit="updateUserDetails(userDetails)">
                    <fieldset>
                        Login
                        <input type="email" value="((userDetails.email))" class="email" placeholder="Email" ng-model="userDetails.email"/>
                        <input type="password" value="(( )) " placeholder="Password"/>
                        <input type="password" class="confirmPassword" id="cp" placeholder="Confirm Password"/>

                        <br/>
                        Personal
                        <br/>

                        <input type="text" value="(( userDetails.firstName ))" class="email" id="firstName" placeholder="First Name" ng-model="userDetails.firstName"/>
                        <input type="text" value="(( userDetails.surname ))" class="email" placeholder="Last Name" ng-model="userDetails.surname"/>
                        <input type="text" value="(( userDetails.otherName ))" class="email" placeholder="Nickname (Optional)" ng-model="userDetails.otherName"/>

                        <select name="birthDay" id="dayList" ng-model='userDetails.dateOfBirth.day'>
                            <option value="">DD</option>
                        </select>

                        <select name="birthMonth" id="monthList" ng-model='userDetails.dateOfBirth.month'>
                            <option value="">MM</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>

                        <select name="birthYear" id="birthYearList" ng-model='userDetails.dateOfBirth.year'>
                            <option value="">YYYY</option>
                        </select>

                        <label>Male</label>
                        <input type="radio" ng-model="userDetails.gender" value="0" checked/>
                        <label>Female</label>
                        <input type="radio" ng-model="userDetails.gender" value ="1" checked/>

                        <!--Relationship Status (Optional)-->
                        <select name="relStatus" id="relStatus" ng-model='userDetails.relStatus'>
                            <option value="0">Relationship Status (Optional)</option>
                            <option value="1">Single</option>
                            <option value="2">In a relationship</option>
                            <option value="3">In Friend Zone</option>
                            <option value="4">Side Chick</option>
                            <option value="5">Tinder</option>
                        </select>
                        <br/>
                        Education
                        <input type="text" class="email" placeholder="School" value="((userDetails.school))" ng-model='userDetails.school'/>
                        <select name="gradYear" id="yearList" ng-model='userDetails.gradYear'>
                            <option value="">Graduation Year</option>
                        </select>
                        <!--Grad Year-->
                        <br/>
                        Location
                        <input type="text" class="email" placeholder="Hometown (Optional)"/>
                        <input type="text" class="email" placeholder="Current Location"/>
                        <br/>
                        <input type="submit" class="button large expand" value="Submit"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
