<!-- Personal Profile -->
              <div class="userProfile" style="display: block;">
              
  
                  <div class="profpic">
                    <div class='center'>
                      <div class='hexagon'>
                        <div class='hexagon-in1'>
                          <div class='hexagon-in2'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<img src="images/facebook.png" class="profile-img">-->
                  <div class="profile-text">
                    <h1 class="profile-name">((userDetails.firstName)) ((userDetails.surname))</h1>
                    <span class="profile-title">(( userDetails.otherName ))</span>
                  </div>
                     
                <div class="register">
                  
                    <form >
                      <fieldset style="max-height: 100%; overflow: scroll; border: none;">
                      	<br></br>
                        <div id="leftProfile" style="float: left; width: 48%;">
                            <h1>Login</h1>
                            <input type="email" value="(( userDetails.email ))" class="email" placeholder="Email" ng-model="userDetails.email" />
                            <!--<div>
                              <p class="email-help regText">Changing this will alter login details!</p>
                            </div>-->
                            <input type="password" class="password" placeholder="Password" ng-model="userDetails.password"/>
                            <input type="password" class="confirmPassword" id="cp" placeholder="Confirm Password">
                            
                            <br></br>
                            <h1>Personal</h1>
                            
                            <input type="text" value="(( userDetails.firstName))" class="email" id="firstName" placeholder="First Name" ng-model="userDetails.firstName">
                            <input type="text" value="((userDetails.surname ))"class="email" placeholder="Last Name" ng-model="userDetails.surname"/>
                            <input type="text" value="(( userDetails.otherName ))"class="email" placeholder="Nickname (Optional)" ng-model="userDetails.otherName" />
                            <select name="birthDay" id="dayList"><option value="">DD</option></select>
                            <select name="birthMonth" id="monthList">
                              <option value="">MM</option>
                              <option value="1">January</option>
                              <option value="2">February</option>
                              <option value="3">March</option>
                              <option value="4">April</option>
                              <option value="5">May</option>
                              <option value="6">June</option>
                              <option value="7">July</option>
                              <option value="8">August</option>
                              <option value="9">September</option>
                              <option value="10">October</option>
                              <option value="11">November</option>
                              <option value="12">December</option>
                            </select>
                            <select name="birthYear" id="birthYearList">
                              <option value="">YYYY</option>
                            </select>
                            <!--Gender-->
                            <div class="toggle" id="genderToggle">
                              <input type="radio" class="toggle-input" name="joincreate" value="0" id="join" checked>
                              <label for="join" class="toggle-label toggle-label-off" id="joinLabel">Male</label>
                              <div class="publicnotice right"><span><h5>Sorry!</h5> You do not have permission to create a Public League!</span>
                              </div>
                              <input type="radio" class="toggle-input" name="joincreate" value="1" id="create">
                              <label for="create" class="toggle-label toggle-label-on" id="createLabel">Female</label>
                              <span class="toggle-selection"></span>
                            </div>
                            <!--Relationship Status (Optional)-->
                            <select name="relStatus" id="relStatus">
                              <option value="">Relationship Status (Optional)</option>
                              <option value="1">Single</option>
                              <option value="2">In a relationship</option>
                              <option value="3">In Friend Zone</option>
                              <option value="4">Side Chick</option>
                              <option value="5">Tinder</option>
                            </select>
                            <input type="text" class="email" placeholder="Contact Number (Optional)">
                            <br></br>
                        </div>
                        
                        <div id="rightProfile" style="float: right; width: 48%;">
                        	<h1>Education</h1>
                            <input type="text" class="email" placeholder="School" ng-model="userDetails.school"/>
                            <select name="gradYear" id="yearList"><option value="">Graduation Year</option></select>
                            <!--Grad Year-->
                            <br></br>
                            <h1>Location</h1>
                            <input type="text" class="email" placeholder="Hometown (Optional)">
                            <input type="text" class="email" placeholder="Current Location">
                            
                            <br></br>
                            <h1>Preferences</h1>
                            <select name="privacy" id="privacy">
                              <option value="">Who is allowed to view your profile data (info, blogs etc)</option>
                              <option value="1">Public</option>
                              <option value="2">Friends</option>
                              <option value="3">Friends of Friends</option>
                              <option value="4">Just me</option>
                            </select>
                            <select name="privacy" id="privacy">
                              <option value="">Who is allowed to contact me</option>
                              <option value="1">Public</option>
                              <option value="2">Friends</option>
                              <option value="3">Friends of Friends</option>
                              <option value="4">Just me</option>
                            </select>
                            <select name="privacy" id="privacy">
                              <option value="">Who is allowed to look me up</option>
                              <option value="1">Public</option>
                              <option value="2">Friends</option>
                              <option value="3">Friends of Friends</option>
                              <option value="4">Just me</option>
                            </select>
                            <input style="width: 80%; float: left; height: 35px; font-size: 15px; border-radius: 10px; outline: none;" type="text" placeholder="User" ng-model="circle"/>
                            <!--<input style="width: 25%; height: 35px; font-size: 20px; background: #ff0000; margin-bottom: 20px;" type="submit" placeholder="Block"/>-->
                            <a style=" width: 20% !important; float: left; height: 35px;" class="friendButton" href="">Block User</a>
                            
                            <p style="vertical-align: middle !important; clear: both; float: left; margin-left 20px !important; margin-top: 10px !important;"><strong>Email Notifications</strong></p>
                           <div style="margin-left: 20px;" class='switchToggle' id='switch'>
                                <div class='toggle-text-off'>OFF</div>
                                <div class='glow-comp'></div>
                                <div class='toggle-button'></div>
                                <div class='toggle-text-on'>ON</div>
                            </div>

                            

                            <p style="vertical-align: middle !important; clear: both; float: left; margin-left 20px !important; margin-top:10px !important;"><strong>Push Notifications</strong></p>
                           <div style="margin-left: 20px;" class='switchToggle' id='switch'>
                                <div class='toggle-text-off'>OFF</div>
                                <div class='glow-comp'></div>
                                <div class='toggle-button'></div>
                                <div class='toggle-text-on'>ON</div>
                            </div>
                                 
                             <a style="margin: 0 auto; clear: both; width: 50% !important; height: 35px !important;" id="getXML" class="friendButton" href="/profile/profile.xml" download> Download Profile (XML)</a> 
                        </div>

<div id="fileuploader">Upload</div>
                            
                        <div id="profileSaveButton" ng-click="updateUserDetails(userDetails)" style="clear: both;">
                        	  <button style="margin-top: 20px;" class="bloomButton red">Save</button>
                        </div>    
                            
                      </fieldset>
                    </form>
       
				  
                </div>
        	  </div>
