<section id="lab">

    <h2 style="text-align: center; margin-bottom: 10px;">Find your friends</h2>

    <input type="text" style="margin-bottom: 10px;" class="searchBar" id="filterFriends" placeholder="Any Search" ng-model="search.$"/>
    <input type="text" class="searchBar" id="filterFriends" placeholder="Full Name" ng-model="search.fullName"/>
    <input type="text" class="searchBar" id="filterFriends" placeholder="School" ng-model="search.schoolName"/>
    <article>
        <div class="lab_item" ng-repeat="friend in friends | filter: search">
            <div class="hexagon hexagon2" ng-click="goToFriend(friend)">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(http://placekitten.com/200/350);">                
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
