<!--Search Results Container-->
              <div id="friendSearchResults" style="display: none;">
              	<section style="margin: 0 auto !important;">                  
                  <div class="form-button roll">
                    <a class="button">Search Query</a>
                    <form action="#">
                      <input id="newSearch" type="text" name="name" id="name" placeholder="Type here" />
                      <input id="newSearchSubmit" type="submit" value="" />
                    </form>  
                  </div>
                  <div class="form-button roll">
                    <a class="button">Education</a>
                    <form action="#">
                      <input id="educationFilter" type="text" name="name" id="name" placeholder="Type here" />
                      <input id="educationSubmit" type="submit" value="" />
                    </form>  
                  </div>
                  <div class="form-button roll">
                    <a class="button">Location</a>
                    <form action="#">
                      <input id="locationFilter"type="text" name="name" id="name" placeholder="Type here" />
                      <input id="locationSubmit"type="submit" value="" />
                    </form>  
                  </div>
                </section>
                  <!-- Hex List Container -->
                <div class="friendsContainer" style="display: block;">
                  <ol id="row1" class="even">
                    <li class='hex' id="one"></li>
                    <li class='hex' id="two"></li>
                    <li class='hex'></li>
                  </ol>  
                  <ol id="row2" class="odd">
                    <li class='hex'></li>
                    <li class='hex'></li>
                    <li class='hex'></li>
                    <li class='hex'></li>
                  </ol>
                </div>
              </div>