<div ng-init="getUser()" class="viewProfiles" style="width: 100%; height: 100;">
    <div id="leftColumn" style="float: left; width: 32%">
        <div id="profileCard">
            <div id="viewuserprofile">
                <img src="images/facebook.png" class="profile-img"/>
                <div class="profile-text">
                    <h1 class="profile-name">((user.firstName)) ((user.surname))</h1>
                    <span class="profile-title">(( user.otherName ))</span>
                </div>

            </div>
        </div>
        <br/>
        <a id="friendStatus" href="#"><span>Add Friend OR 19 Mutual Friends</span></a>
        <br/>
        <div id="infoCard">
            <div id="pricing-table">
                <div id="pricing-table-header">
                    <h1>About</h1>
                </div>
                <div id="pricing-table-content">
                    <ul>
                        <li><strong>Gender</strong> <div>(( getGenderFromCode(user.gender) ))</div></li>
                        <li><strong>Birthday</strong><div>(( getFormattedDate(user.dateOfBirth) ))</div></li>
                        <li><strong>Hometown</strong><div></div></li>
                        <li><strong>Education</strong><div>(( user.school))</div></li>
                        <li><strong>Relationship</strong><div>(( getRelStatusFromCode(user.relStatus) )) </div></li>
                        <li><strong>Contact</strong><div></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="rightColumn" style="float: right; width: 68%">
        <div id="viewProfileNewsFeed" style="height:50;">
        </div>
    </div>
</div>
